.pagination{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.pagination > span{
    border:1px solid grey ;
    padding: 15px 20px;
    cursor: pointer;
}

.selected_page{
    background-color: grey;
}

.pagination_disabled{
    opacity: 0;
}

.table{
 
    
   border: 1px solid black;
 
  
}

.table > thead{
    text-align: center;
}
